.dashboard-container {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../imgs/christmas-dashboard.jpg') center center no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

.dashboard-container {
    padding-top: 1px;
}

.dashboard-container .options-container #options {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    margin: 0 auto;
    width: 80vw;
    padding: 0 20px;
    height: 450px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 100px -60px black;
}

.options-container h1 {
    display: flex;
    margin-top: 75px;
    justify-content: center;
}

.christmas-list, .friends-list, .friends {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 200px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 100px -45px black;
    transition: 400ms;
}
        .christmas-list:hover, .friends-list:hover, .friends:hover {
            box-shadow: 0 0 50px 10px rgba(0, 99, 0, 0.5);
        }

.christmas-list, .friends-list, .friends  {
    display: grid;
    grid-template-rows: 50% 25% 25%;
    justify-items: center;
    align-items: center;
    justify-content: center;
}

p {
    font-size: 2rem;
}

p span {
    font-size: 1rem;
}

i {
    margin-top: 40px;
    font-size: 3rem;
}

.list-options button {
    margin: 0 10px;
    width: 100px;
    height: 30px;
    border: none;
    color: white;
    font-size: 1.1rem;
    font-weight: bold;
    border-radius: 5px;
    transition: 300ms;
}
        .list-options button:hover {
            cursor: pointer;
        }

.list-options button:nth-of-type(1) {
    background-color: darkred;
}
        .list-options button:nth-of-type(1):hover {
            box-shadow: 0 0 0 4px rgba(139, 0, 0, 0.5);
        }

.list-options button:nth-of-type(2) {
    background-color: rgb(0, 99, 0);
}
        .list-options button:nth-of-type(2):hover {
            box-shadow: 0 0 0 4px rgba(0, 99, 0, 0.5);
        }


@media only screen and (max-width: 786px) {
    .christmas-list, .friends-list, .friends {
        margin-top: 10px;
    }

    .friends {
        margin-bottom: 10px;
    }

    .dashboard-container .options-container #options {
        display: flex;
        width: 80%;
        /* border: none; */
        overflow-y: scroll;
        flex-direction: column;
        /* gap: 5px; */
        scrollbar-width: none;
    }
}