.dashboard-container {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../imgs/christmas-dashboard.jpg') center center no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

.dashboard-container .options-container {
    padding-top: 20px;
}

.dashboard-container .options-container #options {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    margin: 0 auto;
    width: 940px;
    padding: 0 20px;
    height: 450px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 100px -60px black;
}

.options-container h1 {
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

.christmas-list, .friends-list, .friends {
    width: 250px;
    height: 200px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 100px -45px black;
    transition: 400ms;
}
        .christmas-list:hover, .friends-list:hover, .friends:hover {
            cursor: pointer;
            box-shadow: 0 0 50px 10px rgba(0, 99, 0, 0.5);
        }

.christmas-list, .friends-list, .friends  {
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    align-items: center;
    justify-content: center;
}

p {
    font-size: 2rem;
}

i {
    margin-top: 40px;
    font-size: 3rem;
}
