.landing-container {
    background-color: #eeeeee;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../imgs/christmas.jpg') center center no-repeat;
    background-size: cover;
    height: 100vh;
}