body {
    background-color: rgb(197, 197, 197);
}

h1 {
    text-align: center;
    margin-top: 150px;
}

.delete-btn {
    background-color: rgb(170, 8, 0);
    color: white;
    border: 2px solid rgb(170, 8, 0);
    border-radius: 5px;
    transition: 300ms;
}
        .delete-btn:hover {
            cursor: pointer;
            color: rgb(170, 8, 0);
            background-color: white;
        }

#list-item-form {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    color: white;
    width: 350px !important;
    padding: 20px
}
        #list-item-form input {
            height: 30px;
            margin: 5px 0;
        }

        #list-item-form label {
            margin: 5px 0;
            font-weight: bold;
        }

        #list-item-form button {
            outline: none;
            margin-top: 10px;
            height: 40px;
            font-weight: bold;
            border-radius: 3px;
            border: none;
            background-color: rgb(45, 163, 108);
            transition: 300ms;
        }
                #list-item-form button:hover {
                    cursor: pointer;
                    box-shadow: 0 0 0 5px rgba(45, 163, 108, 0.5);
                }

.list-item .edit {
    outline: none;
    width: 100px;
    height: 25px;
    border: none;
    background-color:rgba(0, 100, 0, 0.6);
    color: white;
}

.list-item .delete {
    outline: none;
    width: 100px;
    height: 25px;
    border: none;
    background-color: rgb(139, 0, 0);
    color: white;
}

.user-list-container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

.list-container {
    display: flex;
    padding-bottom: 10px;
    border-radius: 5px;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 50px -20px black;
    width: 95vw;
    height: 250px;
}

.list-container .column-titles {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    width: 98%;
    margin: 0 auto;
    border-bottom: 1px dotted black;
    height: 30px;
    background-color: #cecece;
}

.list-container h3 {
    text-align: center;
    margin: 10px auto;
}

.list-container .hr {
    height: 1px;
    background-color: black;
    width: 80%;
    margin: 0 auto;
}

.list-container .list-item {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    align-content: center;
    justify-items: center;
    width: 98%;
    margin: 1px auto;
    /* height: 100%; */
    padding: 5px 0;
    background-color: #cecece;
}

.list-container .list-item span {
    display: flex;
    padding: 5px 0;
    overflow: hidden;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    border-radius: 5px;
    margin: 0px 12.5% 0px 12.5%;
    width: 100%;
    height: 80%;
    justify-content: center;
    align-items: center;
}

.list-container .list-item span:nth-of-type(1) {
    display: inline-block;
    position: relative;
    padding: 2px auto;
    white-space: nowrap;
    overflow-x: scroll;
    text-align: left;
    width: 100%;
    height: 80%;
    /* box-sizing: content-box; */
}

.scroll-container {
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track {
    background: rgba(0, 100, 0, 0.6);
}

::-webkit-scrollbar-thumb {
    background: rgba(139, 0, 0, 0.8);
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(139, 0, 0);
}