h1 {
    text-align: center;
}

.delete-btn {
    background-color: rgb(170, 8, 0);
    color: white;
    border: 2px solid rgb(170, 8, 0);
    border-radius: 5px;
    transition: 300ms;
}
        .delete-btn:hover {
            cursor: pointer;
            color: rgb(170, 8, 0);
            background-color: white;
        }

#list-item-form {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    color: white;
    width: 200px;
    padding: 20px
}
        #list-item-form button {
            margin-top: 10px;
        }

table {
    display: block;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 20px -2px black;
    text-align: center;
    background-color: green;
    width: 400px;
    /* margin: 0 auto; */
    margin: 10px auto 0 auto;
}

th, td {
    padding: 0;
    border: 1px solid black;
    width: 200px;
    text-align: center;
}

.user-list-container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    justify-content: center;
    align-items: center;
}