.auth-box {
    display: flex;
    height: 100%;
    position: absolute;
    right: 0;
    margin-right: 10px;
    align-items: center;
}

.brand {
    display: flex;
    height: 100%;
    text-shadow: 0 0 40px black;
    align-items: center;
    margin-left: 20px;
    font-size: 28px;
    background: linear-gradient(90deg, rgba(42,121,9,1) 31%, rgba(200,32,3,1) 82%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

#logout {
    margin-left: 4px;
    border: none;
    width: 100px;
    height: 30px;
    color: rgb(170, 0, 0);
    font-weight: bold;
    border-radius: 5px;
    box-shadow: inset 0px 0px 0px 2px rgb(170, 0, 0);
    background-color: white;
    transition: 600ms;
}
        #logout:hover {
            cursor: pointer;
            background-color: white;
            color: white;
            background-color: rgb(170, 0, 0);
        }

.nav-container {
    display: flex;
    flex-direction: row;
    position: absolute;
    width: 100vw;
    height: 50px;
    /* background-color: grey; */
}